[submodule "btrfs-progs/upstream"]
	path = btrfs-progs/upstream
	url = https://src.fedoraproject.org/rpms/btrfs-progs
[submodule "rsync/upstream"]
	path = rsync/upstream
	url = https://src.fedoraproject.org/rpms/rsync
[submodule "rust-eza/upstream"]
	path = rust-eza/upstream
	url = https://src.fedoraproject.org/rpms/rust-eza
[submodule "kitty/upstream"]
	path = kitty/upstream
	url = https://src.fedoraproject.org/rpms/kitty
