[submodule "btrfs-progs/upstream"]
	path = btrfs-progs/upstream
    url = https://src.fedoraproject.org/rpms/btrfs-progs
[submodule "rsync/upstream"]
	path = rsync/upstream
	url = https://src.fedoraproject.org/rpms/rsync
[submodule "rust-eza/upstream"]
	path = rust-eza/upstream
	url = https://src.fedoraproject.org/rpms/rust-eza
[submodule "kitty/upstream"]
	path = kitty/upstream
	url = https://src.fedoraproject.org/rpms/kitty
[submodule "kernel/upstream"]
	path = kernel/upstream
    url = https://src.fedoraproject.org/rpms/kernel
[submodule "neovim/upstream"]
	path = neovim/upstream
	url = https://src.fedoraproject.org/rpms/neovim
[submodule "openrgb/upstream"]
	path = openrgb/upstream
	url = https://src.fedoraproject.org/rpms/openrgb
[submodule "strace/upstream"]
	path = strace/upstream
	url = https://src.fedoraproject.org/rpms/strace
[submodule "btop/btop"]
	path = btop/btop
	url = https://src.fedoraproject.org/rpms/btop
